/* 表头和表尾样式 */

.print-tablecss {
  font-family: "宋体";
  font-size: 10pt;
  margin: 0 auto;
}


/* thead of middle table  */

.print-MaterialTable {
  font-family: "宋体";
  border-collapse: collapse;
  border: 1px solid #000000;
  margin: 0;
  padding: 0;
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0 auto;
}


/* td of middle table */

.print-tdcss {
  padding: 0px 3px;
  border-width: 1px;
  border-style: solid;
  border-collapse: collapse;
  font-size: 10pt;
  white-space: nowrap;
  word-wrap: break-word;
  word-break: break-all;
  table-layout: fixed;
  font-family: "宋体";
}


/* newline style */

.print-tdcss1 {
  font-family: "宋体";
  border-width: 1px;
  border-style: solid;
  border-collapse: collapse;
  font-size: 10pt;
}


/* QRcode style */

.print-qrcss {
  font-size: 10pt;
  font-family: "宋体";
  border-width: 1px;
  border-style: solid;
  border-collapse: collapse;
  word-wrap: break-word;
  word-break: break-all;
}


/* mobilephone style */

@media screen {
  .print-responsive {
    background-color: #f4f4f6;
    width: 100%;
    font-size: 10pt;
    font-weight: normal;
  }
  .print_badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 5px;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: rgb(100,169,214);
    border-radius: 5px;
  }
  .print_title {
    margin-bottom: 13px;
    display: block;
    border: 0;
  }
  ul {
    margin-bottom: 3px;
    display: block;
    border: 1px solid #6567e9;
    border-radius: 3px;
  }
  li {
    padding: 3px 2px !important;
    display: block;
    text-align: right;
    border: 1px dotted #ccc;
  }
  li:last-child {
    border-bottom: 0;
  }
  li:before {
    content: attr(data-label);
    float: left;
    text-transform: uppercase;
    color: #3c763d;
  }
}
