.yltable
    border-collapse collapse
    border 1px  solid #ddd
    display table
    margin 10px 
    font-size 13px
    thead
        display table-header-group
        vertical-align middle
        border-color inherit
        tr
            display table-row
            vertical-align inherit
            border-color inherit
            background-color #EFF2F7
            th
                display table-cell
                border-bottom-width 2px
                border 1px  solid #ddd
                vertical-align middle
                padding 8px
                line-height 1.5
                text-align center
                font-weight bold
                min-width   50px
                white-space nowrap 
    tbody
        display table-header-group
        vertical-align middle
        border-color inherit    
        tr
            display table-row
            vertical-align inherit
            border-color inherit
            &:hover
                background-color #EFF2F7
            td
                display table-cell
                border 1px  solid #ddd
                vertical-align middle
                padding 8px
                line-height 1.5
                text-align top
                white-space nowrap 
        